@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-50: #fff9ec;
--color-brand-100: #fff1d3;
--color-brand-200: #ffdfa5;
--color-brand-300: #ffc66d;
--color-brand-400: #ffa232;
--color-brand-500: #ff860a;
--color-brand-600: #ff6d00;
--color-brand-700: #cc4e02;
--color-brand-800: #a13d0b;
--color-brand-900: #82340c;
--color-brand-950: #461804;


}
@layer components {
  .button{
    @apply w-full h-11 border border-neutral-200 rounded-2xl
  }
  .section{
    @apply px-4 sm:px-8 md:px-12
  }
}

body{
  @apply bg-white
}